
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
</head>
<body>
    <div>
        <div id="menu">
            <ul>
                <li><img src="~/Images/logo.png" width="64" height="64" /></li>
                <li><a href="#"><i class="fas fa-home fa-2x"></i><br />Dashboard</a></li>
                <li><a href="#"><i class="fas fa-tags fa-2x"></i><br />Campaign</a></li>
                <li><a href="#"><i class="fas fa-gift fa-2x"></i><br />Gift</a></li>
                <li><a href="#"><i class="fas fa-user fa-2x"></i><br />Customer</a></li>
                <li><a href="#"><i class="fas fa-gear fa-2x"></i><br />Setting</a></li>
            </ul>
        </div>
        <div class="search-text">
            <input type="search" name="Tìm kiếm" placeholder="Search..." />
            <a href="#" class="search-button">
                <i class="fas fa-search"></i>
            </a>
        </div> 
        <div id="title1">
            <h6>&nbsp;<i class="fas fa-home"> Dashboard</i></h6>
        </div>
        <div id="main-content">
            <div id="title2">
                <h5>&nbsp;<i class="fas fa-home"> Dashboard</i></h5>
            </div>
            <div style="float: right; margin-top: -30px">
                <h5>&nbsp;<i class="fas fa-calendar"> 1/3/2020-10/3/2020</i></h5>
            </div>
        </div>     
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>
