
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
</head>
<body style="background-color: #ccccff">
    <div>
        <div id="menu">
            <ul>
                <li><img src="~/Images/logo.png" width="64" height="64" /></li>
                <li><a href="@Url.Action("Dashboard","Main")"><i class="fas fa-home"></i><br />Dashboard</a></li>
                <li><a href="@Url.Action("CampaignManagement","Main")"><i class="fas fa-tags"></i><br />Campaign</a></li>

                <li>
                    <a href="#"><i class="fas fa-gift"></i><br />Gift <i class="fas fa-caret-down"></i></a>
                    <ul>
                        <li><a href="@Url.Action("ListOfGeneratedGifts","Main")">List of Generated Gifts</a></li>
                        <li><a href="@Url.Action("GiftsCategory","Main")">Gifts Category</a></li>
                    </ul>
                </li>

                <li><a href="#"><i class="fas fa-user"></i><br />Customer</a></li>
                <li><a href="#"><i class="fas fa-gear"></i><br />Setting</a></li>
            </ul>
        </div>
        <div class="search-text">
            <input type="search" name="Tìm kiếm" placeholder="Search..." />
            <a href="#" class="search-button">
                <i class="fas fa-search"></i>
            </a>
        </div>
        <div id="title1">
            <h6><span style="color:#6600cc">&nbsp;<i class="fas fa-home"></i> Dashboard</span></h6>
        </div>

        <div id="B">
            <div id="title2">
                <h5>&nbsp;<i class="fas fa-home"> Dashboard</i></h5>
            </div>
            <div id="datepicker">
                <h5><i class="fas fa-calendar"> 1/3/2020 - 10/3/2020</i></h5>
            </div>
        </div>
        <br />
        <div id="C">
            <div><i class="fas fa-plus-circle"></i><span id="number">&ensp;400.000</span><br />Code Activated</div>
            <div><i class="fas fa-qrcode"></i><span id="number">&ensp;50</span><br />Scanned</div>
            <div><i class="fas fa-gift"></i><span id="number">&ensp;20</span><br />Used for spin</div>
            <div><i class="fas fa-user-tag"></i><span id="number">&ensp;20</span><br />Winner</div>
        </div>
        <br /><br />
        <div style="font-weight: bold; font-size: 24px;">&nbsp;Campaign List</div>
        <div id="D">
            <div id="title3">
                <div>Name</div>
                <div>Start Date</div>
                <div>Expired Date</div>
                <div>Activated Code</div>
                <div>Gifts Quantity</div>
                <div>Scanned</div>
                <div>Used for spin</div>
                <div>Win</div>
            </div>
            <hr />
            <div id="data-campaign-list">
                <div style="font-weight: bold">
                    &ensp;<i class="fas fa-unlock"></i>&nbsp;<u><span style="color: blueviolet">Lucky Draw 1</span></u>
                    <br />
                    &ensp;<i class="fas fa-paper-plane"></i>&nbsp;Active
                </div>
                <div>&ensp;02/08/2020 <br /> &ensp;23:59:49</div>
                <div>&emsp;-</div><br />
                <div style="color:#b3b3ff">&emsp;<u>200.000</u></div><br />
                <div>&emsp;1.500</div><br />
                <div>&emsp;50</div><br />
                <div>&emsp;20</div><br />
                <div>&emsp;10</div><br />
            </div>
            <hr />
            <div id="data-campaign-list">
                <div style="font-weight: bold">
                    &ensp;<i class="fas fa-unlock"></i>&nbsp;<span>Lucky Draw 2</span>
                    <br />
                    &ensp;<i class="fas fa-paper-plane"></i>&nbsp;Active
                </div>
                <div>&ensp;02/08/2020 <br /> &ensp;23:59:49</div>
                <div>&emsp;-</div><br />
                <div style="color:#b3b3ff">&emsp;<u>200.000</u></div><br />
                <div>&emsp;1.000</div><br />
                <div>&emsp;0</div><br />
                <div>&emsp;0</div><br />
                <div>&emsp;20</div><br />
            </div>
        </div>
        <div id="footer">
            <div>
                Show <select style="width: 50px"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option></select> <i>entries</i>
            </div>
            <div><i>Showing 1 to 2 of 2 entries</i></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>
