
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Manage Dashboard</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
</head>
<body style="background-color: #ccccff">
    <div>
        <div id="menu">
            <ul>
                <li><img src="~/Images/logo.png" width="64" height="64" /></li>
                <li><a href="@Url.Action("Dashboard","Main")"><i class="fas fa-home"></i><br />Dashboard</a></li>
                <li><a href="@Url.Action("CampaignManagement","Main")"><i class="fas fa-tags"></i><br />Campaign</a></li>
                <li><a href="#"><i class="fas fa-gift"></i><br />Gift</a></li>
                <li><a href="#"><i class="fas fa-user"></i><br />Customer</a></li>
                <li><a href="#"><i class="fas fa-gear"></i><br />Setting</a></li>
            </ul>
        </div>
        <div class="search-text">
            <input type="search" name="Tìm kiếm" placeholder="Search..." />
            <a href="#" class="search-button">
                <i class="fas fa-search"></i>
            </a>
        </div>
        <div id="title1">
            <h6>&nbsp;<i class="fas fa-home"><span style="color:#6600cc"> Dashboard&nbsp;/ Campaign </span>/ Detail</i></h6>
        </div>

        <div id="B">
            <div id="title2">
                <h5>&nbsp;<i class="fas fa-tags"> Campaign LUCKY DRAW 2</i></h5>
            </div>
        </div>
        <div id="menu2">
            <div><a href="@Url.Action("ManageDashboard","Main")">Dashboard</a></div>
            <div><a href="@Url.Action("ManageBarcodes","Main")">Barcode</a></div>
            <div><a href="#">Barcode history</a></div>
            <div><a href="#">Gifts</a></div>
            <div><a href="#">Rules for Gift</a></div>
            <div><a href="#">Winners</a></div>
            <div><a href="#">Settings</a></div>
        </div>
        <div class="data-lucky-draw">
            <h2>LUCKY DRAW 1</h2>
            <br /><br />
            <div style="border-bottom: 2px solid skyblue;">
                Timeframe
                <span style="float: right">02/08/2020 - 02/10/2020</span>
            </div>
            <br /><br />
            <div style="border-bottom: 2px solid skyblue;">
                Created Code
                <span style="float: right">200.000 / <i class="fas fa-unlock"></i>&nbsp;Auto Update</span>
            </div>
            <br /><br />
            <div style="border-bottom: 2px solid skyblue;">
                Usage limit per code
                <span style="float: right">1</span>
            </div>
            <br /><br />
            <div style="border-bottom: 2px solid skyblue;">
                Description
            </div>
        </div>
        <div class="data-chart">
            <h3>Usage summary</h3>
            <div id="datepicker">
                <h5><i class="fas fa-calendar"> 24/2/2020 - 15/3/2020</i></h5>
            </div>
            <div style="float: right; font-weight: bold">Total: 1</div>
            <br /><br />
            <div class="chart">
                <ul class="numbers">
                    <li><span>1</span></li>
                    <li><span>0</span></li>
                </ul>

                <ul class="bars">
                    <li><span>2020-02-24</span></li>
                    <li><span>2020-03-02</span></li>
                    <li><div class="bar" data-percentage="1"></div><span>2020-03-09</span></li>
                    <li><span>2020-03-16</span></li>
                </ul>
            </div>
            <div class="blank2"></div>
            <div style="font-size: 24px">
                <span style="font-weight: bold">Recent campaign changes</span>
                <span style="float: right">Total: 0</span>
            </div>
            <br /><br />
            <div>
                <button id="load-more"><i class="fas fa-repeat"></i>  Load more</button>
            </div>
        </div>
</body>
</html>
