
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Profile</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
</head>
<body>
    <div id="layout-customer">
        <div><img src="~/Images/unilever-logo.png" style="width: 100%;" /></div>
        <br />
        <div class="login-user">
            <div style="font-weight: bold; text-align: center">Sửa thông tin</div>
            <br /><br />
            <div style="font-weight: bold">
                <span class="left-10">Tên</span>
                <span class="right">
                    <input type="text" name="address" placeholder="Kyle James" style="border-style: none; border-bottom: 1px solid #000; margin-right: 10px;" />
                </span>
            </div>
            <br />
            <div style="font-weight: bold">
                <span class="left-10">Số điện thoại</span>
                <span class="right">
                    <input type="text" name="address" placeholder="(933)139-0162" style="border-style: none; border-bottom: 1px solid #000; margin-right: 10px;" />
                </span>
            </div>
            <br />
            <div style="font-weight: bold">
                <span class="left-10">Ngày sinh</span>
                <span class="right">
                    <input type="text" name="address" placeholder="09/03/1991" style="border-style: none; border-bottom: 1px solid #000; margin-right: 10px;" />
                </span>
            </div>
            <br />
            <div style="font-weight: bold">
                <span class="left-10">Chức vụ</span>
                <span class="right">
                    <select style="border-style: none; border-bottom: 1px solid #000; margin-right: 10px; width: 185px;">
                        <option>Giám đốc</option>
                    </select>
                </span>
            </div>
            <br />
            <div style="font-weight: bold">
                <span class="left-10">Loại hình kinh doanh</span>
                <span class="right">
                    <select style="border-style: none; border-bottom: 1px solid #000; margin-right: 10px; width: 185px;">
                        <option>Nhà hàng</option>
                    </select>
                </span>
            </div>
            <br />
            <button id="btn-submit">Thay đổi</button>
            <br /><br /><br />
            <div style="text-align: center;"><a href="#" style="color: darkorange"><u>Hủy bỏ</u></a></div>
        </div>
    </div>
</body>
</html>
