
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>KNR2DHMAAB3E9Y - Detail</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
</head>
<body style="background-color: #ccccff">
    <div id="code-detail">
        <h2 style="font-weight: bold; margin-left: 20px">KNR2DHMAAB3E9Y - Detail</h2>
        <br /><br />
        <div class="detail">
            Campaign
            <span style="float: right;">Lucky Draw 1</span>
        </div>
        <br />
        <div class="detail">
            Usage limit
            <span style="float: right;">1</span>
        </div>
        <br />
        <div class="detail">
            Create date
            <span style="float: right;">10/03/2020 00:00:00</span>
        </div>
        <br />
        <div class="detail">
            Expired date
            <span style="float: right;">10/07/2020 23:59:59</span>
        </div>
        <br />
        <div>
            <span style="margin-left: 30px;">Owner *</span>
            <span style="float: right; width: 70%; border-bottom: 2px solid skyblue; margin-right: 40px; text-align: right"><i class="fas fa-pencil-square"></i></span>
        </div>
        <br />
        <div>
            <span style="margin-left: 30px;">Note</span>
            <span style="float: right; width: 70%; border-bottom: 2px solid skyblue; margin-right: 40px; text-align: right"><i class="fas fa-pencil-square"></i></span>
        </div>
        <br /><br /><br />
        <div>
            <button id="btn-scan">Scan</button>
            <button id="btn-activate">Activate</button>
            <button id="btn-cancel">Cancel</button>
        </div>
    </div>
</body>
</html>
