
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>New Password</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
</head>
<body>
    <div id="layout-customer">
        <div><img src="~/Images/unilever-logo.png" style="width: 100%;" /></div>
        <br />
        <div class="login-user">
            <div style="font-weight: bold; text-align: center">Đổi mật khẩu</div>
            <br />
            <div class="input-box">
                <input type="password" name="password" placeholder="Nhập mật khẩu mới" class="col-md-12 py-2" />
            </div>
            <br />
            <div class="input-box">
                <input type="password" name="password" placeholder="Nhập lại mật khẩu" class="col-md-12 py-2" />
            </div>
            <br /><br />
            <button id="btn-submit">Xác nhận</button>
            <br /><br /><br />
            <div style="text-align: center;"><a href="@Url.Action("LoginUser","Customer")" style="color: darkorange"><u>Đăng nhập</u></a></div>
        </div>
    </div>
</body>
</html>
